@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #090B21;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.preloader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #090B21;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    transition-delay: .5s;
}

.preloader.loaded{
    opacity: 0;
    z-index: -999;
}

.logo-link-preloader{
    opacity: 0;
    transition: .3s ease-in-out;
}

.preloader.loaded>.logo-link-preloader{
    opacity: 1;
}

.global-container{
    max-width: 1920px;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.wrapper{
    margin: 0px 50px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    text-decoration: none;
    color: #ED2545;
    display: flex;
    align-items: center;
    padding: 25px 0px;
    cursor: pointer;
}

.logo-link:hover .logo-link_picture{
    filter: drop-shadow(0px 0px 5px #ED2545);
}

.logo-link_text{
    font-family: 'Rancho', cursive;
    font-size: 3em;
    padding-left: 10px;
}

.logo-link_picture{
    transition: .1s ease-in-out;
}

.logo-link_picture>img{
    width: 100%;
}

.login-button{
    color: #FFF;
    font-size: 2em;
    cursor: pointer;
    transition: .1s ease-in-out;
    user-select: none;
}

.login-button:hover{
    color: #ED2545;
}

.login-button:active{
    transform: translateY(2px);
}

.main-wrapper{
    margin: 50px;
}

.upload-block{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ED2545;
    border-radius: 50px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.upload-block:hover{
    background-color: #45112a0a;
}

.upload-block:hover .upload-block_text{
    color: #68111f;
}

.upload-block_text{
    font-size: 2em;
    color: #45112A;
    width: 700px;
    text-align: center;
    padding: 60px 0px;
    transition: .1s ease-in-out;
}

.screenshots-block{
    margin-top: 30px;
}

.screenshots-block_title
{
    font-size: 2em;
    color: #ED2545;
    text-align: center;
}

.screenshots{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 40px;
}

.screenshot{
    color: #3A3C4C;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 315px;
    border: 1px solid #3A3C4C;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.screenshot-img
{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.footer{
    width: 100%;
    max-width: 1920px;
    height: 100px;
    border-top: 1px solid #ED2545;
    border-radius: 10px;
    font-size: 2em;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    color: #45112A;
}

.footer_author{
    text-decoration: none;
    color: #45112A;
    transition: .2s ease-in-out;
}

.footer_author:hover{
    color: #ED2545;
}

/* #####FORMS##### */

.form-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: .2s ease-in-out;
}

.form-container.blurred{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 5;
}

.login-form, .signup-form{
    position: absolute;
    z-index: -10;
    background-color: #090B21;
    border: 1px solid #ED2545;
    border-radius: 20px;
    color: #c4c4c4;
    font-size: 2em;
    margin: 0px 20px;
    padding: 30px 50px;
    opacity: 0;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 5px #ED2545;
    max-height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    transform: translateY(-20px);
}

.login-form::-webkit-scrollbar, .signup-form::-webkit-scrollbar{
    display: none;
}

.login-form.visible, .signup-form.visible{
    opacity: 1;
    z-index: 6;
    transform: translateY(0px);
}

.form-input{
    width: 100%;
    font-size: 0.6em;
    background-color: transparent;
    border: 1px solid #3A3C4C;
    border-radius: 5px;
    color: #c4c4c4;
}

.login-form-list, .signup-form-list{
    list-style-type: none;
    padding: 0px;
}

.form-label{
    margin-bottom: 10px;
    text-align: center;
}

.login-form-list>li, .signup-form-list>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-login-button, .form-signup-button{
    width: 100%;
    color: #ED2545;
    background-color: transparent;
    border: 1px solid #ED2545;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 0.5em;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.form-login-button:hover, .form-signup-button:hover{
    background-color: rgba(255,255,255,0.1);
}

.form-login-button:active, .form-signup-button:active{
    background-color: rgba(255,255,255,0.2);
}

.reg-toggle, .login-toggle{
    text-align: center;
    color: #45112A;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-left: 1px dotted #ED2545;
    border-right: 1px dotted #ED2545;
    border-radius: 5px;
}

.reg-toggle:hover, .login-toggle:hover{
    color: #ED2545;
    border-left: 1px solid #ED2545;
    border-right: 1px solid #ED2545;
}

.reg-toggle:active, .login-toggle:active{
    transform: translateY(5px);
}

.checkbox-form-label{
    font-size: 0.7em;
    text-align: center;
}

.form-signup-checkbox{
    width: 25px;
    height: 25px;
}

.close-form-button{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: .2s ease-in-out;
    user-select: none;
}

.close-form-button:hover{
    color: #ED2545;
}

@media screen and (max-width: 1270px){
    .screenshots{
        justify-content: center;
    }   
}

@media screen and (max-width: 670px){
    body {
        font-size: 12px;
    }

    .logo-link_picture {
        width: 30px;
    }

    .screenshot{
        width: 100%;
        height: 0px;
        padding-bottom: calc(100%/16*9);
    }

    .logo-link_text{
        padding-left: 0px;
    }
}

@media screen and (max-width: 500px){
    body {
        font-size: 2.5vw;
    }

    .global-container{
        min-height: calc(100vh - 50px);
    }    

    .logo-link_picture {
        width: 3em;
    }

    .wrapper{
        margin: 0px 5%;
    }
    
    .main-wrapper{
        margin: 30px 5%;
    } 

    .upload-block{
        border-radius: 5vw;
    }    

    .upload-block_text{
        padding: 8vw 0px;
    } 
    
    .screenshots{
        row-gap: 20px;
    }
    
    .screenshot{
        border-radius: 5vw;
    }
    
    .footer{
        height: 50px;
    } 

    .login-form, .signup-form{
        padding: 10px 20px;
        font-size: 2.5em;
        border-radius: 5vw;
    }

    .form-login-button, .form-signup-button{
        padding: 5px 0px;
    }

    .close-form-button{
        top: 10px;
        right: 10px;
    }

    .form-signup-checkbox{
        width: 5vw;
        height: 5vw;
    }
}